body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

header {
	width: 100%;
	height: 100vh;
	position: relative;
}

/*image de fond derriere le titre et le sous titre */
header::after {
	content: " ";
	background-image: url('vieuxcasque.jpg');
	background-position: left;
	background-size: cover;
	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
    /* opacité du background*/
  	opacity: 0.6;
	
}
/* barre de nav*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 77px;
	z-index: 100;
	padding: 0 28px;
	box-sizing: border-box;
}
/*taille du logo*/
#logo {
	width: 150px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/*couleur navigation */
nav {
	background-color: #fff;
}

#top-menu>li{
	display: inline-block;
	margin-right: 24px;	
}

#top-menu li a {
	color: #000;
	font-weight: 600;
	font-size: 14px;
}

#top-menu i {
	padding-left: 4px;	
}

#top-menu>li:last-of-type a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: white;
	background-color: rgb(170, 210, 54);
	padding: 7.5px 34px;
	border: 0;
	border-radius: 4px;
	margin-right: 16px;
}

#top-menu>li:last-of-type {
	margin: 0;
}


/*text*/
#header-desc {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.1); 
	z-index:0;
}

/*taille des titres*/
h1, h2 {
	font-size: 44px;
}

/*titre*/
h1 {
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 1.2;
	text-align: center;
   
}
/* sous texte */
#header-desc p {
	font-size: 22px;
	letter-spacing: 0.5px;
	font-weight: 400;
  

	/*color: #8b8b99;*/
	padding-top: 32px;
	text-align: center;
}


footer {
	padding: 30px 0;
	text-align: center;
	color: #fff;
	background-color: #232323;
	font-size: 14px;
	letter-spacing: 0.5px	;
}

footer p {
	margin: 0;
}

@media screen and (min-width:1200px) and (max-width:1314px) {
	
	#follow #right-bar {
		padding: 50px;
	}

}

@media screen and (min-width:900px) and (max-width:1199px)  {
	#follow #left-bar {
		width: 60%;
	}

	#follow #right-bar {
		width: 40%;
		padding: 0 30px;
	}

	#email {
		margin-top: 30px;
	}

	#contacts {
		padding: 20px;
		box-sizing: border-box;
	}

	h2 {
		font-size: 36px;
	}
}


@media screen and (max-width:900px) {

	#top-menu>li:last-of-type a {
		margin-right: 0;
	}

	h1 {
		font-size: 28px;
	}

	#header-desc {
		width: 90%;
	}

	#header-desc p {
		padding: 16px;
    

	}	

	#contacts .right-block, #contacts .left-block {
		width: 100%;
	}

	h2 {
		font-size: 30px;
	}

}

@media only screen and (max-width:600px) {
	#top-menu .menu-item {
		display: none;
	}

	#steps, #store-items {
		grid-template-columns: auto;
	}

	#vimeo h2::after {
		bottom: 25%;
	}

	iframe {
		height: 360px;
	}

}

@media only screen and (max-width:400px) {
	#top-menu .menu-item {
		display: none;
	}

	h2 {
		font-size: 26px;
	}

	#rates .rates-block {
		width: 100%;
	}

}
