header::after {

	background-image: url('numerique2.webp');
	
}
#header-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6); 
	font-size: 20px;
	padding-bottom: 25px;
	
}
header::after {

    /* opacité du background*/
  	opacity: 0.8;
}
